{
  "openapi": "3.1.0",
  "info": {
    "title": "Hemsy API",
    "description": "Hemsy API allows you to generate virtual try-ons for your products.",
    "version": "1.0.0",
    "contact": {
      "name": "Hemsy Support",
      "url": "https://hemsy.ai",
      "email": "support@hemsy.ai"
    }
  },
  "servers": [
    {
      "url": "https://hemsy.ai"
    }
  ],
  "paths": {
    "/api/try-on": {
      "post": {
        "operationId": "tryOn",
        "summary": "Try On",
        "description": "Generate a virtual try-on image from a user photo and product images.",
        "tags": ["Endpoints"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userPhoto", "products"],
                "properties": {
                  "userPhoto": {
                    "type": "string",
                    "description": "Public URL or base64 data URL of the user image."
                  },
                  "products": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": ["title", "images"],
                      "properties": {
                        "title": { "type": "string" },
                        "category": {
                          "type": "string",
                          "enum": ["tops", "bottoms", "outerwear"]
                        },
                        "images": {
                          "type": "array",
                          "items": { "type": "string" },
                          "minItems": 1
                        }
                      }
                    }
                  },
                  "storeId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful try-on",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image": { "type": "string" },
                    "code": { "type": "string" },
                    "error": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Try On",
      "description": "Endpoints for creating virtual try-on images."
    }
  ]
}
