{
  "openapi": "3.1.0",
  "info": {
    "title": "Hemsy API",
    "description": "Hemsy API allows you to generate virtual try-ons for your products.",
    "version": "1.0.0",
    "contact": {
      "name": "Hemsy Support",
      "url": "https://hemsy.ai",
      "email": "support@hemsy.ai"
    }
  },
  "servers": [
    {
      "url": "https://hemsy.ai"
    }
  ],
  "paths": {
    "/api/try-on": {
      "post": {
        "operationId": "tryOn",
        "summary": "Try On",
        "description": "Generate a virtual try-on image from a user photo and product image URLs, or Shopify product identifiers.",
        "tags": ["Endpoints"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userPhoto", "products"],
                "properties": {
                  "userPhoto": {
                    "type": "string",
                    "description": "Public URL or base64 data URL of the user image."
                  },
                  "products": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "description": "Provide product `images`, `productId`, or `variantId`.",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "Optional product title. If omitted and an ID is provided, title is resolved from Shopify when available."
                        },
                        "category": {
                          "type": "string"
                        },
                        "images": {
                          "type": "array",
                          "description": "HTTPS image URLs for the product.",
                          "items": { "type": "string", "format": "uri" },
                          "minItems": 1
                        },
                        "productId": {
                          "description": "Shopify product ID (numeric ID or gid). Use as an alternative to `images`.",
                          "oneOf": [
                            { "type": "string" },
                            { "type": "number" }
                          ]
                        },
                        "variantId": {
                          "description": "Shopify variant ID (numeric ID or gid). Use as an alternative to `images`.",
                          "oneOf": [
                            { "type": "string" },
                            { "type": "number" }
                          ]
                        }
                      },
                      "anyOf": [
                        { "required": ["images"] },
                        { "required": ["productId"] },
                        { "required": ["variantId"] }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful try-on",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "image": { "type": "string" },
                    "code": { "type": "string" },
                    "error": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Try On",
      "description": "Endpoints for creating virtual try-on images."
    }
  ]
}
